header img {
    float: left;
    border-radius: 50%;
    margin: auto;
}

header p {
    padding: 20px;
    padding-bottom: 80px;
    background-color: beige;
    border: 2px solid rgb(104, 18, 18);
}

header {
    opacity: 0.6;
    background-image: url("../imagenes/Fondo_Hollow-Knight.jpg");
}